<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <button (click)="choice(0)">
        <img src="assets/Rock.png">
      </button>
      <h1>Rock</h1>
    </div>
    <div class="col-4">
      <button (click)="choice(1)">
        <img src="assets/Paper.png">
      </button>
      <h1>Paper</h1>
    </div>
    <div class="col-4">
      <button (click)="choice(2)">
        <img src="assets/scissor.png">
      </button>
      <h1>Scissor</h1>
    </div>
  </div>
  <div class="row mt-5" *ngIf="show">
    <div class="col-4">
      <h2>You</h2>
      <img src="assets/{{you}}.png">
    </div>
    <div class="col-4">
      <h2>VS</h2>
    </div>
    <div class="col-4">
      <h2>Computer</h2>
      <img src="assets/{{computer}}.png">
    </div>
    <div class="col-12">
      <h2>{{result}}</h2>
    </div>
  </div>
</div>
